pyttsx3
speechrecognition
datetime
requests
wikipedia
webbrowser
pprint
psutil
spotipy
pyaudio
pvporcupine
openai
transformers
screen-brightness-control
pyautogui
ultralytics
opencv-python
ollama
pycaw
comtypes
